<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>R7 FrontEnd Test</title>
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css" media="all">
</head>
<body>

	<main id="main">
		<section id="section">
			<header id="header">
				<div class="logo"></div>
				<h2 class="ranking">RANKING</h2>
			</header>
			<article id="article">
				<ul>
					<li>um</li>
					<li>dois</li>
					<li>tres</li>
					<li>quatro</li>
					<li>cinco</li>
				</ul>

<p><%=jsonFazenda.length%></p>
<p><%=jsonFazenda[0].name%></p>

			</article>
		</section>
	</main>

	<script src="javascripts/main.js"></script> 
</body>
</html>
